.spIcon{
display: flex;
justify-content: flex-start;
align-items: center;
}
.spIcon img{
    width: min(40px,100%);
    /* margin-left: 7%; */
}
.spIcon span{
    font-weight: 500;
    font-size:18px;
    color: white;
    font-family: 'Mitr', sans-serif;
}