.spotThePop{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
}
.spotThePopCard{
    height: 140px;
    background-position: center;
    margin: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-size: cover;
    cursor: pointer;
    box-shadow: 1px 2px 20px -2px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 1px 2px 20px -2px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 1px 2px 20px -2px rgba(0, 0, 0, 0.53);
}
.Icon{
    color: #ffffff70;
    font-size: 40px;
    font-weight: 100;
    transform: scale(0,0);
    transition: all 250ms ease-out;
}
.spotThePopCard:hover .Icon{
    transform: scale(1.1,1.1);

}
.spotThePopCard:hover::before{
    content: "";
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    border-radius: 7px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(95, 95, 103,60%);
}

.yhhhhh{
    border: 10px solid #61c261;
}