.headerAndContentLayout{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffcdd2;
    align-items: center;
    justify-content: center;
}