.headerAndContentLayout{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #b22c15;
    align-items: center;
    justify-content: center;
}